<html>
    <body>
        <h1 class="div" style="text-align: justify;">
        Self-driven and motivated person with a proven track record of success and extraordinary achievements in building company from simple idea to multimillion- dollar business. Experienced in all aspects of business development, including finance, operations, technology, and marketing. The 2018 Start-Up Entrepreneur of the Year Award winner possessing well-developed leadership/communication skills, excellent time management skills, and great teamwork abilities.
        </h1>    
    </body>
</html>