<html>
    <body><table class="div">
    <caption style="font-size: 25px;">Education Details</caption>
    <tr>
      <th>Qualification</th>
      <th>Board of Education</th>
      <th>Name of the Institution</th>
      <th>Year of Passing</th>
      <th>CGPA/Grade(10.0)</th>
    </tr>
    <tr>
      <td>B.E/B.Tech<br>CSE</td>
      <td>JNTUA</td>
      <td>G. Pulla Reddy Engineering College<br>Kurnool, Andhra Pradesh</td>
      <td>2024</td>
      <td>9.20</td>
    </tr>
    <tr>
      <td>Intermediate<br>MEC</td>
      <td>Board of Intermediate Education</td>
      <td>Narayana Junior College<br>Kurnool, Andhra Pradesh</td>
      <td>2020</td>
      <td>9.94</td>
    </tr>
    <tr>
      <td>SSC</td>
      <td>Board of Secondary Education</td>
      <td>Sri Chaitanya Techno School<br>Kurnool, Andhra Pradesh</td>
      <td>2018</td>
      <td>9.80</td>
    </tr>
   
  </table>

  </body>
  </html>
