<h1><p style="text-align:left;">
  Sri Thanvi Molagavelli
  <span style="float:right;">
    abc@gmail.com&nbsp;&nbsp;&nbsp;<a href="https://in.linkedin.com/">LinkedIn</a>&nbsp;&nbsp;<a href="https://www.hackerrank.com/">HackerRank</a>
  </span>
</p></h1>

<nav style="background-color:blue;">

<a routerLink="/first-component" >

Education</a>

&nbsp;&nbsp;

<a routerLink="/address-component">

Address</a>

&nbsp;&nbsp;
<a routerLink="/skills-component" >

  Skills</a>
  
</nav>

<router-outlet></router-outlet>

